
<li>
  <article>

  	<header>
	  	<h1><%= link_to "#{author.first_name} #{author.last_name}  (#{author.username})", author %>
	  	</h1>
	  </header>

  	<p><%= author.description %></p>

  </article>
</li>