<nav>
	<div>
		<section class="more">
				<%= render_navigation(:context => :authors) %>
		</section><section class="related">
			<h2>related:</h2>
				<%= render_navigation(:context => :related_authors) %>
		</section>
	</div>
</nav>