<nav>
	<div>
		<section class="more">
			<ul>
				<li class="active"><a href="./about">about</a></li>
				<li><a href="./activity">activity</a></li>
				<li><a href="./annotations">annotations</a></li>
				<li><a href="./discussions">discussions</a></li>
				<% if can? :update, @author %>
      	<li><%= link_to "edit", edit_author_path %></li>
    		<% end %>
			</ul>
		</section><section class="related">
			<h2>related:</h2>
			<ul>
				<li><a href="./related/posts">posts</a></li>
				<li><a href="./related/books">books</a></li>
				<li><a href="./related/characters">characters</a></li>
				<li><a href="./related/authors">authors</a></li>
			</ul>
		</section>
	</div>
</nav>