	<nav>
		<div>
			<section class="more">
				<ul>
					<li class="active"><a href="./read">read</a></li>
					<li><a href="./details">details</a></li>
					<li><a href="./comment">comment</a></li>
					<li><a href="./discuss">discuss</a></li>
					<li><a href="./edit">edit</a></li>
				</ul>
			</section><section class="related">
				<h2>related:</h2>
				<ul>
					<li><a href="./related/posts">posts</a></li>
					<li><a href="./related/books">books</a></li>
					<li><a href="./related/characters">characters</a></li>
					<li><a href="./related/authors">authors</a></li>
				</ul>
			</section>
		</div>
	</nav>