	<nav>
		<div>
			<section class="more">
				<%= render_navigation(:context => :posts) %>
			</section><section class="related">
				<h2>related:</h2>
				<%= render_navigation(:context => :related_posts) %>
			</section>
		</div>
	</nav>