 <h1><%= @post.title %></h1>
<%= @post.body %>
<p>Created by: <%= link_to @post.author.username, @post.author %></p>
<% if can? :update, @post %>
	<%= link_to "Edit Post", edit_post_path(@post) %>
<% end %>