@import "bootstrap";
@import "grid";

$postsColor :#119cd6;
$booksColor: #009900;
$charactersColor: #990000;
$authorsColor: #ba5307;
$independentColor: #999999;
$topBorder: 4px solid #eaeaea;

$posts-content-nav: url('./sprite-tags.png') center -92px no-repeat;
$authors-content-nav: url('./sprite-tags.png') center 0px no-repeat;
$characters-content-nav: url('./sprite-tags.png') center -31px no-repeat;
$books-content-nav: url('./sprite-tags.png') center -62px no-repeat;

@mixin posts-gradient {
background-image: linear-gradient(bottom, rgb(63,150,185) 4%, rgb(101,188,223) 52%);
background-image: -o-linear-gradient(bottom, rgb(63,150,185) 4%, rgb(101,188,223) 52%);
background-image: -moz-linear-gradient(bottom, rgb(63,150,185) 4%, rgb(101,188,223) 52%);
background-image: -webkit-linear-gradient(bottom, rgb(63,150,185) 4%, rgb(101,188,223) 52%);
background-image: -ms-linear-gradient(bottom, rgb(63,150,185) 4%, rgb(101,188,223) 52%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.04, rgb(63,150,185)),
	color-stop(0.52, rgb(101,188,223))
);
}

@mixin rounded-corners ($radius: 5px) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin inset-shadow ($x: 0, $y: 0, $blur: 1px, $spread: 1px, $opacity: 1.0) {
  box-shadow: inset $x $y $blur $spread rgba(0, 0, 0, $opacity);
  -moz-box-shadow: inset $x $y $blur $spread rgba(0, 0, 0, $opacity);
  -webkit-box-shadow: inset $x $y $blur $spread rgba(0, 0, 0, $opacity);
}
@mixin inset-text-shadow($x, $color: #999) {
	text-shadow: $x $x 0 $color, 0 0 0 #000, $x $x 0 $color;
}

@mixin box-shadow ($x: 0, $y: 0, $blur: 1px, $spread: 1px, $opacity: 1.0) {
  box-shadow: $x $y $blur $spread rgba(0, 0, 0, $opacity);
  -moz-box-shadow: $x $y $blur $spread rgba(0, 0, 0, $opacity);
  -webkit-box-shadow: $x $y $blur $spread rgba(0, 0, 0, $opacity);
}

body {
	font-family: Georgia;
	margin-top: 56px;
}
a {
	text-decoration: none;
}
#topNav {
	border-bottom: 4px solid #eaeaea;
	top: 0;
	left: 0;
	width: 100%;
	position: absolute;
	border-top: 4px solid #eaeaea;
	.outerWrapper {
		@include column(12);
		.innerWrapper {
			@include row(12);
			#postbookLogo {
				@include column(2,12);
				height: 45px;
				padding: 0;
				position: relative;
				width: 170px;
				text-indent: -9999px;
				a {
					font-size: 12px;
					height: 175px;
					text-decoration: none;
					width: 45px;
					img {
						left: 0;
						position: absolute;
						top: 5px;
						opacity: .5;
					}
				}
			}
			#mainNav {
				@include column(4,12);
				li {
					display: inline-block;
					float: left;
					margin-top: -4px;
					margin-right: 3px;
					a {
						border-top: 4px solid transparent;
						padding: 16px 12px;
						display: block;
						color: #333333;
						text-decoration: none;
						line-height: 24px;
						font-size: 18px;
						text-align: center;
						opacity: .5;
						&:hover, &.active {
							opacity: 1.0;
						}
					}
					&:first-child {
						a {
							&:hover, &.active {
								border-top-color: $postsColor;
							}
						}
					}
					&:nth-child(2) {
						a {
							&:hover, &.active {
								border-top-color: $booksColor;
							}
						}
					}
					&:nth-child(3) {
						a {
							&:hover, &.active {
								border-top-color: $charactersColor;
							}
						}
					}
					&:last-child {
						a {
							&:hover, &.active {
								border-top-color: $authorsColor;
							}
						}
					}
				}
			}
			form {
				@include column(4,12);
				position: relative;
				background: url("./bg-search.png") no-repeat scroll right bottom transparent;
				input {
					border: 0 none;
					font-size: 12px;
					line-height: 16px;
					margin: 19px 48px 4px 4px;
					padding:  0;
					float: right;
					width: 136px;
					opacity: .5;
					&:focus {
						opacity: 1.0;
					}
				}
			}
			#personalNav {
				@include column(2,12);
				>li {
					position: relative;
					cursor: pointer;
					background: transparent url('./arrow-down.png') right 24px no-repeat;
					padding-right: 25px;
					opacity: .5;
					&:hover {
						opacity: 1.0;
					}
					>span {
						display: inline-block;
						margin: 18px 0;
						font-size: 11px;
						text-align: right;
						width: 100%;
						color: #292929;
						text-decoration: none;
						line-height: 16px;
					}
					div.dropdown {
						cursor: default;
						display: none;
						top: 34px;
						right: 0;
						position: absolute;
						width: 134px;
						margin: 8px 0 0;
						border: 1px solid #ccc;
						background-color: #ffffff;
						padding: 12px 0px;
						@include box-shadow(0,0,10px,0,.1);
						div.tip {
							position: absolute;
							width: 17px;
							height: 9px;
							top: 0;
							margin-top: -9px;
							right: 8px;
							overflow: hidden;
							display: block;
						}
						ul {
							li {
								&:hover {
									a {
										background-color: #f2f2f2;
										color: #000000;
									}
								}
								a {
									color: #666666;
									padding: 0 26px 0 9px;
									text-decoration: none;
									font-size: 11px;
									line-height: 16px;
									display: block;
									span {
										padding: 4px 0;
										display: block;
									}
								}
								&:nth-child(4) {
									line-height: 0;
									span {
										border-bottom: 1px solid #ccc;
										margin: 0 26px 0 9px;
										display: block;
										padding-bottom: 4px;
										margin-bottom: 4px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
div.main {
	@include column(8);
	@include push(2);
}
body.books {
	div.main.id {
		>header {
			figure {
				@include row(8);
				img {
					@include column(2,8);
				}
				figcaption {
					@include column(6,8);
					font-size: 15px;
					line-height: 26px;
					color: #191919;
					p {
						margin: 0 0 26px;
					}
				}
			}
		}
	}
}
body.authors {
	div.main.id {
		>header {
			figure {
				@include row(8);
				padding: 20px 0 40px;
				div.image {
					@include column(2,8);
					@include box-shadow(0, 0, 15px, 0, .5);
					img {
						border:  1px solid #fff;
					}
				}
				figcaption {
					@include column(6,8);
					@include rounded-corners(5px);
					font-size: 15px;
					line-height: 28px;
					background-color: #eaeaea;
					position: relative;
					div.tip {
						position: absolute;
						width: 8px;
						height: 16px;
						top: 50%;
						margin-top: -8px;
						left: -8px;
					}
					table {
						border-collapse: collapse;
						border-color: transparent;
						border-width: 15px 25px;
						border-style: solid;
						tbody {
							tr {
								th {
									font-weight: normal;
									text-align: left;
									color: #666666;
									padding-right: 40px;
								}
								td {
									color: #333333;
									a {
										color: #333333;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
ul.tags {
	list-style-type: none;
	list-style-position: inside;
	li {
		display: inline-block;
		&:after {
			content: ", ";
		}
		&:last-child:after {
			content: "";
		}
	}
}
div.main.id {
	>header {
		background-color: #ffffff;
		@include column(8);
		@include push(2);
		position: fixed;
		top: 0;
		left: 0;
		h1 {
			font-size: 48px;
			line-height: 56px;
			margin-top: 20px;
			margin-bottom: 5px;
			font-weight: normal;
			text-align: center;
			color: #333333;
		}
		small {
			color: #666666;
			opacity: .8;
			font-size: 13px;
			line-height: 18px;
			margin-bottom: 10px;
			display: block;
			text-align: center;
			.favorite-count {
				background-color: $independentColor;
			}
		}
		nav {
			background-color: #ffffff;
			border-top: $topBorder;
			section{ width: 50%; display: inline-block; }
			section.related {
				text-align: right;
				h2 {
					display: inline-block;
					font-size: 14px;
					line-height: 18px;
					font-weight: normal;
					margin: 0;
					text-align: right;
				}
				ul.related {
					text-align: right;
				}
			}
			ul {
				display: inline-block;
				margin: 4px 0;
				li {
					display: inline-block;
					padding-bottom: 11px;
					a {
						font-size: 14px;
						line-height: 18px;
						text-decoration: none;
						padding: 4px 12px;
						color: #333333;
						opacity: .5;
						&:hover {
							opacity: 1.0;
						}
					}
					&.active {
						a {
							opacity: 1.0;
							@include rounded-corners(3px);
							color: #ffffff;
						}
					}
				}
			}
		}
	}
	&.nonsticky {
		padding-top: 0 !important;
		header {
			margin: auto;
			display: block;
			float: none;
			left: auto;
			top: auto;
			width: auto;
			position: relative;
		}
	}
	div.read {
		@include row(8);
		margin-top: 40px;
		div.content {
			@include column(6,8);
			@include push(1);
			p {
				font-size: 15px;
				line-height: 26px;
				color: #191919;
				margin: 0 0 39px;
			}
		}
	}
	div.edit {
		@include row(8);
		margin-top: 40px;
		form {
			@include column(5,8);
			@include push(1.5);
			.field {
				margin-bottom: 30px;
				.major {
					font-family: Georgia;
					font-size: 28px;
					line-height: 30px;
					font-weight: normal;
					display: block;
					margin: 0 0 10px;
				}
				input[type=text], textarea {
					display: block;
					width: 100%;
					@include rounded-corners(5px);
					border: 1px solid #ccc;
					margin: 0 0 10px;
				}
				input[type=text] {
					padding: 5px;
				}
				textarea {
					padding: 10px 5px;
				}
				div.choice {
					display: inline-block;
					margin-right: 15px;
					input {
						margin-right: 5px;
					}
				}
				#postUsage {
					width: 15%;
					margin-left: 5%;
				}
				#postRights {
					width: 80%;
					float: left;
				}
				#postDiscussion {
					width: 20%;
				}
			}
		}
	}
	//added child selector because will use details elsewhere
	>div.details {
	}
	>div.contentContainer {
		@include row(8);
		margin-top: 40px;
		div.column {
			article {
				margin-bottom: 40px;
				border-top: $topBorder;
				h2 {
					font-family: Georgia;
					font-size: 28px;
					line-height: 38px;
					font-weight: normal;
					margin: 0 0 5px;
				}
				ul {
					margin: 0;
					padding: 0;
					li {
						color: #333333;
						list-style-type: none;
						list-style-position: inside;
						font-size: 15px;
						line-height: 26px;
						a {
							font-size: 15px;
						}
						small {
							font-size: 13px;
						}
						span.divider {
							color: #999999;
							font-size: 13px;
						}
						time {
							font-size: 13px;
							color: #999999;
						}
					}
				}
				ul.avatars {
					margin-bottom: 5px;
					li {
						display: inline-block;
						a {
							margin: 0 5px 5px 0;
							img {
								width: 30px;
								height: 30px;
							}
						}
					}
				}
				ol {
					padding: 0 0 0 25px;
					list-style-type: outside;
					margin: 0;
					color: #999999;
					li {
						a {
							display: block;
						}
						small {
							font-size: 13px;
							line-height: 18px;
							display: block;
							color: #333333;
							span.divider {
								color: #999999;
							}
						}
					}
				}
				ol.spacey {
					li {
						color: #333;
						a {
							display: inline-block;
						}
						time {
							font-size: 13px;
							line-height: 19px;
							color: #999;
							display: block;
						}
					}
				}
				&.spacey {
					p {
						line-height: 26px;
					}
				}
				p {
					font-size: 15px;
					line-height: auto;
					margin: 0;
				}
				img.ccimage {
					width: 80px;
					height: 15px;
					display: block;
					margin: 10px 0;
				}
			}
		}
		div.column4 {
			@include column(4,8);
		}
		div.column5 {
			@include column(5,8);
		}
		div.column3 {
			@include column(3,8);
		}
	}
	div.toc {
		@include row(8);
		margin-top: 40px;
		ol {
			@include column(8,8);
			padding: 0;
			li {
				list-style-position: inside;
				list-style-type: none;
				padding: 0;
				margin: 0;
				position: relative;
				cursor: pointer;
				div.number {
					position: absolute;
					font-size: 28px;
					width: 35px;
					color: #999999;
					line-height: 36px;
					display: block;
					top: 0;
					left: 0;
					text-align: right;
					padding-right: 5px;
					z-index: 5;
				}
				div.chapter {
					position: relative;
					border: 1px solid #fff;
					height: 66px;
					display: block;
					padding: 0 0 0 40px;
					a {
						padding-top: 4px;
						font-size: 28px;
						line-height: 32px;
						color: #333333;
						display: block;
					}
					small {
						font-size: 15px;
						color: #999999;
						display: inline-block;
					}
					ul {
						display: inline-block;
						margin: 0;
						padding: 0;
						color: #999999;
						&:before {
							content: " | ";
						}
						li {
							border: 0px;
							font-size: 15px;
							line-height: 18px;
							color: #999999;
							list-style-type: none;
							list-style-position: inside;
							display: inline-block;
							span {
								&:after {
									content: ", ";
								}
								&:last-child:after {
									content: "";
								}
							}
						}
					}
					div.button {
						display: none;
					}
				}
				&:hover {
					div.chapter {
						border-color: #ccc;
						@include rounded-corners(5px);
						background-color: #efefef;
						a {
							color: $booksColor;
						}
						div.button {
							display: block;
							position: absolute;
							right: 0;
							background: url('./arrow-book.png') center right no-repeat;
							top: 0;
							height: 66px;
							line-height: 66px;
							font-size: 18px;
							font-weight: bold;
							color: $booksColor;
							padding-right: 32px;
							margin-right: 20px;
						}
					}
				}
			}
		}
	}
	div.activity {
		@include row(8);
		margin-top: 40px;
		div.content {
			@include column(6,8);
			@include push(1);
			border-top: $topBorder;
			h2 {
				font-weight: normal;
				font-size: 28px;
				line-height: 32px;
				padding: 5px 0;
				margin: 0;
				color: #333;
			}
			ul {
				list-style-type: none;
				list-style-position: inside;
				margin: 0;
				padding: 0;
				li {
					margin-bottom: 20px;
					header {
						font-size: 15px;
						line-height: 26px;
						color: #333;
						font-weight: bold;
						display: block;
						span {
							font-weight: normal;
							display: inline-block;
							color: #999;
							font-size: 13px;
							line-height: 16px;
						}
						time {
							display: inline-block;
						}
						a {
							display: inline-block;
						}
					}
					div.inner {
						position: relative;
						div.details {
							font-size: 13px;
							line-height: 18px;
							color: #666666;
							font-weight: normal;
							padding-left: 40px;
							p {
								margin: 0 0 15px 0;
							}
						}
						div.icon {
							position: absolute;
							top: 0;
							left: 0;
							width: 32px;
							height: 32px;
							display: inline-block;
							@include rounded-corners(3px);
							background-color: #e6e5e5;
							background-position: top left;
							background-repeat: no-repeat;
							&.comment {
								background-image: url('./icons/comment.png');
							}
							&.tag {
								background-image: url('./icons/tag.png');
							}
						}
					}
				}
			}
		}
	}
}
div.main.index {
	div.body {
		@include row(8);
		padding-top: 40px;
		p {
			margin: 0 0 15px;
		}
		main {
			@include column(6,8);
			>div.pagination {
			}
			>ul {
				padding: 0;
				list-style-type: none;
				list-style-position: inside;
				li:first-child {
					article {
						header {
							h1 {
								font-size: 48px;
								line-height: 56px;
								font-style: italic;
							}
						}
					}
				}
				li {
					article {
						font-size: 15px;
						line-height: 26px;
						margin-bottom: 20px;
						header {
							h1 {
								font-size: 28px;
								line-height: 36px;
								padding: 0;
								margin: 0;
								font-weight: normal;
								a {
									color: #272727;
									text-decoration: none;
								}
							}
							small {
								color: #666;
								a {
									text-decoration: none;
									color: #666;
								}
							}
						}
					}
				}
			}
			>ul.summary {
				li {
					article {
						margin-bottom: 20px;
					}
				}
			}
			>ul.full {
				>li {
					border-top: 5px solid #eaeaea;
					&:first-child {
						border-top: 0 none;
					}
					article {
						header {
							h1 {
								padding-top: 15px;
							}
							small {
								font-size: 15px;
								line-height: 20px;
							}
						}
						section {
							margin-bottom: 10px;
							h2 {
								font-size: 15px;
								line-height: 20px;
								margin: 0 0 5px;
								padding: 0;
							}
							ul {
								list-style-type: none;
								list-style-position: inside;
								margin: 0;
								padding: 0;
								li {
									display: inline;
									a {

									}
									&:after {
										content: ", ";
									}
									&:last-child:after {
										content: "";
									}
								}
							}
						}
						a.readMore {
							display: inline-block;
							@include posts-gradient;
							height: 24px;
							padding: 6px 10px 10px 0;
							font-size: 20px;
							font-weight: normal;
							line-height: 24px;
							color: #ffffff;
							@include inset-text-shadow(-1px, #aaa);
							@include rounded-corners(5px);
							text-decoration: none;
							border: 1px solid #4d9cbb;
							img {
								padding: 0 10px;
								display: inline-block;
							}
							margin-bottom: 10px;
						}
					}
				}
			}
		}
		aside {
			@include column(2,8);
			padding-top: 40px;
			a.create {
				display: block;
				@include posts-gradient;
				height: 20px;
				padding: 8px 0 10px;
				font-size: 18px;
				font-weight: bold;
				line-height: 20px;
				color: #ffffff;
				@include inset-text-shadow(-1px, #aaa);
				@include rounded-corners(5px);
				text-decoration: none;
				border: 1px solid #4d9cbb;
				img {
					padding: 0 10px;
					display: inline-block;
				}
				margin-bottom: 10px;
			}
			h2 {
				color: #333;
				font-weight: bold;
				font-size: 15px;
				line-height: 20px;
				padding-bottom: 15px;
				padding-top: 5px;
				border-top: 4px solid #333333;
				margin: 0;
			}
			form {
				padding-bottom: 10px;
				input {
					@include rounded-corners(3px);
					font-size: 15px;
					line-height: 20px;
					padding: 3px;
					display: block;
					background: transparent url('./icon-search.png') right 5px no-repeat;
					border: 1px solid #ccc;
					width: 183px;
				}
			}
			nav {
				padding-bottom: 20px;
				ul {
					li {
						a {
							font-size: 15px;
							color: #7e7e7e;
							line-height: 20px;
							text-decoration: none;
							&:hover {
							}
						}
						&.activeColored {
							a {
								font-weight: bold;
							}
						}
					}
					ul {
						margin-left: 8px;
					}
				}
			}
		}
	}
}
body.posts {
	div.main.id {
		>header {
			nav {
				ul {
					li {
						&.active {
							background: $posts-content-nav;
							a {
								background-color: $postsColor;
							}
						}
					}
				}
			}
		}
	}
	div.main.index {
		div.body {
			aside {
				nav {
					ul {
						li.activeColored {
							a {
								color: $postsColor;
							}
						}
					}
				}
				a.create {
					@include posts-gradient;
				}
			}
		}
	}
	.favorite-count {
		background-color: $postsColor;
	}
	a {
		color: $postsColor;
	}
}
body.authors {
	div.main.index {
		div.body {
			aside {
				nav {
					ul {
						li.activeColored {
							a {
								color: $authorsColor;
							}
						}
					}
				}
				a.create {
//					@include authors-gradient;
				}
			}
		}
	}
	div.main.id {
		>header {
			nav {
				ul {
					li {
						&.active {
							background: $authors-content-nav;
							a {
								background-color: $authorsColor;
							}
						}
					}
				}
			}
		}
	}
	.favorite-count {
		background-color: $authorsColor;
	}
	a {
		color: $authorsColor;
	}
}
body.characters {
	div.main.index {
		div.body {
			aside {
				nav {
					ul {
						li.activeColored {
							a {
								color: $charactersColor;
							}
						}
					}
				}
				a.create {
//					@include authors-gradient;
				}
			}
		}
	}
	div.main.id {
		>header {
			nav {
				ul {
					li {
						&.active {
							background: $characters-content-nav;
							a {
								background-color: $charactersColor;
							}
						}
					}
				}
			}
		}
	}
	.favorite-count {
		background-color: $charactersColor;
	}
	a {
		color: $charactersColor;
	}
}
body.books {
	div.main.index {
		div.body {
			aside {
				nav {
					ul {
						li.activeColored {
							a {
								color: $booksColor;
							}
						}
					}
				}
				a.create {
//					@include books-gradient;
				}
			}
		}
	}
	div.main.id {
		>header {
			nav {
				ul {
					li {
						&.active {
							background: $books-content-nav;
							a {
								background-color: $booksColor;
							}
						}
					}
				}
			}
		}
	}
	.favorite-count {
		background-color: $booksColor;
	}
	a {
		color: $booksColor;
	}
}


a.postsColor {
	color: $postsColor !important;
}
a.booksColor {
	color: $booksColor !important;
}
.favorite-count {
	@include rounded-corners(3px);
	padding: 0 5px;
	@include inset-text-shadow(1px, #999);
	color: #ffffff;
	font-size: 12px;
	display: inline-block;
	line-height: 16px;
}
.ui-tooltip {
	padding: 12px;
	@include rounded-corners(5px);
	.tooltip-content {
		img {
			width: 111px;
			height: 111px;
			padding-right: 15px;
			float: left;
		}
		.details {
			position: relative;
			margin-left: 126px;
			h6 {
				font-family: Georgia;
				font-size: 15px;
				font-weight: bold;
				margin: 0 0 15px 0;
				line-height: 20px;
			}
			a {
				font-size: 13px;
				line-height: 16px;
				font-family: Georgia;
				display: block;
			}
			time {
				font-size: 11px;
				font-family: Georgia;
				color: $independentColor;
				display: block;
				margin-bottom: 10px;
			}
			.favorite-count {
				background-color: $independentColor;
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
}